.course-options{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.course-content{
    margin: 2rem 0rem;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 2rem 0;
}